@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:link,
a:visited,
a:active,
a:hover,
a:active {
    text-decoration: none;
}

body {
    background-color: #1f1738;
}

.content {
    background-color: #0d1117;
}

.navbar-left {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: black;
}

p {
    color: #DCDCDC;
}

.big {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

.second {
    margin-top: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space {
    margin-bottom: 20px;
    margin-top: 20px;
}

#flex {
    display: flex;
    align-items: center;
}

.icon {
    height: 32px;
    width: 32px;
    margin-right: 30px;
}

p.liked-title-hover:hover {
    color: white;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.playlist-right {
    background-color: white;
    width: 100%;
    height: 100%;
}

.top {
    margin-left: 20%;
    width: 80%;
    height: 100vh;
    background: #121212;
}

.playlists {
    color: #DCDCDC;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    padding-left: 20px;
}

.liked-title-playlist-block {
    background: linear-gradient(to right, #534af4, #857ee7);
    height: 300px;
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.liked-title-playlist {
    padding-top: 200px;
    padding-left: 20px;
}

.liked-title-playlist-title {
    color: white;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

.liked-title-playlist-number {
    color: white;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
}

.button-play-green {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #60bc54;
    margin-right: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bottom-to-top {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}